<div class="container-fluid px-5 py-5">
	<div class="row px-md-5 mb-5" id="o">
		<h3 class="col-12 text-center text-primary mb-3">Offers:</h3>
	</div>
	<div class="row px-md-5 mb-5" id="t">
		<h3 class="col-12 text-center text-primary mb-3">On the trading block:</h3>
	</div>
	<div class="row px-md-5 mb-5" id="m">
		<h3 class="col-12 text-center text-primary mb-3">In your library:</h3>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="../controllers/myBooksController.client.js"></script>
<script type="text/javascript" src="../controllers/redirectController.client.js"></script>
